<ion-header>
  <ion-toolbar>

<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      
      <ion-col size="6">
        <div style="height: 200px;">
          <ion-card  >
          
            <ion-item>
              <ion-avatar item-start>
                <img src="../../assets/img/avatar.jpg">
              </ion-avatar>
              <h2>Marty McFly</h2>
              <p>November 5, 1955</p>
            </ion-item>
          
            <img src="../../assets/img/avatar.jpg"  >
          
            <ion-card-content>
              <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
            </ion-card-content>
          
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>4 Comments</div>
                </button>
              </ion-col>
              <ion-col align-self-center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
          
        
        
        
        
        
        </ion-card>
        </div>
      </ion-col>
    
      <ion-col size="6">
        <div><ion-card>
        
          <ion-item lines="full">
            <ion-label>Item Lines Full</ion-label>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Item Lines Full</ion-label>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Item Lines Full</ion-label>
          </ion-item>
          <ion-item lines="full">
            <ion-label>Item Lines Full</ion-label>
          </ion-item>
        
        </ion-card>
        </div>
      </ion-col>
    </ion-row>
    

        
    
    

  </ion-grid>
</ion-content>
