ion-card-content{
    color: rgb(173, 18, 14);
  }
  ion-card{
      background-color: rgb(20, 39, 102);
      height:auto;
      width:100%;
    
  }
  .center{
      text-align: center;
      margin-top: 130px;
  }