<ion-header>
  <ion-toolbar>

<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>spinner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid><ion-row><ion-col size-md="6" offset="3">
<ion-card class="ion-border"><ion-card-header>
<ion-card-title style="text-align: end;" class="ion-text" color="primary">The Header is loading...
  <ion-spinner class="theme-colors"></ion-spinner>
</ion-card-title>
</ion-card-header>
<ion-card-body>
  <ion-card-content>
    The content is being loaded...
   
 <p class="ion-text-starts">Hi,Good Morning</p>
  <ion-spinner class="theme-colors" name="lines"></ion-spinner>

  <p>dctv qywvbuq hvwwdbqwoif ivqwij hvdiowjo vuj vqdjq viuuj dqwgdio</p>
  <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar><br>
  <ion-progress-bar class="theme-color"  type="indeterminate"></ion-progress-bar>


  </ion-card-content>
</ion-card-body>
<ion-card-footer>
  Wait a minute!....the footer is also being loaded...
  <ion-spinner class="theme-colors" name="dots"></ion-spinner>
</ion-card-footer>
</ion-card>

</ion-col></ion-row></ion-grid>


</ion-content>
