<ion-header>
  <ion-toolbar>

<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid><div class="ion-float-left" ><ion-button  color="primary" (click)="show()">click me</ion-button></div>
  <div class="ion-float-right"> <ion-button   color="secondary" (click)="presentPopover()">Add</ion-button>
    <ion-button  (click)="presentModal()" color="tertiary">Clear</ion-button></div>
    </ion-grid>
  
  
 

</ion-content>
