<ion-header>
  <ion-toolbar>

<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
   <ion-card-header>
     <ion-card-title>Modal is being displayed....!!!</ion-card-title></ion-card-header>
     <ion-card-content>
    <ion-item>
      Peter
    </ion-item>
    <ion-item>
      Jessy
    </ion-item>
    <ion-item>
      Krish
    </ion-item>
    <ion-item>
      Marshal
    </ion-item>
     </ion-card-content>
  
 </ion-card>
</ion-content>
